.jumbotron {
    padding-top: 6rem;
    background-color: #EDEDED;
}

#projects {
    background-color: #EDEDED;
}

#about {
    background-color: #EDEDED;
}

section {
    padding-top: 5rem;
}

#k1 {
    background-color: #EEEEEE;
}