.jumbotron {
    padding-top: 6rem;
    background-color: #EDEDED;
}

#projects {
    background-color: #EDEDED;
}

#about {
    background-color: #EDEDED;
}

section {
    padding-top: 5rem;
}

#k1 {
    background-color: #EEEEEE;
}

.btn {
    background-color: #81b214;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 230px;
    margin-left: 20px;
}
